* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #183114, #446129);
}

.container {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: #fcee21 solid 2px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #183114, #446129);
}

header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  align-items: center;
}

h1 {
  color: #fcee21;
  font-weight: 700;
  font-size: 35px;
  line-height: 30px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffff;
  cursor: pointer;
  transition: 0.3s;
}

li:first-child {
  margin-right: 20px;
}

li:hover {
  color: #fcee21;
}

.img-section1 img {
  max-width: 600px;
  height: 350px;
}

.section-principal {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.section-principal .textos h2 {
  color: #fcee21;
  font-weight: 700;
  font-size: min(40px, 4vw);
  margin-bottom: 20px;
}

.section-principal .textos span {
  font-weight: 400;
  font-size: min(30px, 2vw);
  display: flex;
  color: #ffff;
}

.newsl {
  padding: 20px 40px;
  color: #183114;
  background: #fcee21;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  border: #fcee21 3px solid;
  transition: 0.3s;
}

.newsl:hover {
  background: none;
  color: #fcee21;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.section-segundaria {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.cards {
  width: 270px;
  height: 430px;
  display: flex;
  flex-direction: column;
  background: #f3f4d3;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
  transition: 0.3s;
}

.cards:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(1.03);
  transition: 0.3s;
}

.img-card {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.img-card img {
  width: 100%;
  height: 200px;
}

.card-texto-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  margin-bottom: auto;
}

.titulo-card {
  color: #183114;
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.texto-card {
  color: #446129;
  height: 78px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.data-card {
  margin-left: 20px;
  margin-bottom: 20px;
}

.section-terceira {
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  border: #fcee21 solid 2px;
}

.cardnews {
  background: linear-gradient(to right, #183114, #446129);
  border-radius: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #f3f4d3 2px solid;
  flex-direction: column;
}

.container-cardnews {
  display: flex;
  height: 240px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.cardnews-img img {
  width: clamp(150px, 30vw, 260px);
  height: 250px;
}

.cardnews-img {
  margin-right: 10px;
}

.cardnews-texto h2 {
  color: #fcee21;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: clamp(1.5rem, 2.7vw, 32px);
}

.cardnews-texto h4 {
  font-size: clamp(1rem, 2vw, 27px);
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  color: #dcde9f;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px auto;
  position: relative;
}

.input {
  width: 350px;
  height: 35px;
  border: 2px solid #fcee21;
  color: #fcee21;
  border-radius: 20px;
  background: transparent;
  font-size: 20px;
  padding: 10px;
  outline: none;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  border: #fcee21 solid 2px;
  background: #fcee21;
  border-radius: 50px;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #183114;
  position: absolute;
  right: 0;
}

@media (max-width: 1131px) {
}

@media (max-width: 957px) {
  .img-section1 img {
    width: 300px;
    height: 200px;
  }

  .container-cardnews img {
    width: 200px;
  }
}

@media (max-width: 830px) {
  .newsl {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
  }

  .input {
    width: 250px;
  }

  .container-cardnews {
    padding: 15px 15px 0px 15px;
  }
}

@media (max-width: 700px) {
  .cardnews-img .news-img {
    max-width: 200px;
    max-height: 130px;
    width: auto;
    height: auto;
  }

  .cardnews-img {
    height: 100px;
  }

  .input {
    width: 250px;
    height: 20px;
    padding: 12px;
  }

  .submit {
    padding: 3px 30px;
    line-height: 16px;
    font-size: 13px;
  }

  form {
    margin: 0px auto 10px auto;
  }

  .cardnews-texto h2 {
    color: #fcee21;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .cardnews-texto h4 {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    color: #dcde9f;
  }
  .container-cardnews {
    height: 200px;
    padding: 10px;
  }
}

@media (max-width: 680px) {
  .cardnews-texto h2 {
    color: #fcee21;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 23px;
  }

  .cardnews-texto h4 {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    color: #dcde9f;
  }

  form {
    height: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .input {
    width: 220px;
    height: 20px;
    padding: 12px;
  }

  .submit {
    padding: 3px 30px;
    line-height: 16px;
    font-size: 13px;
  }
}

@media (max-width: 584px) {
  .cardnews-texto h2 {
    color: #fcee21;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 23px;
  }

  .cardnews-texto h4 {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    color: #dcde9f;
  }
}

@media (max-width: 561px) {
  .section-principal {
    flex-direction: column-reverse;
    align-items: center;
  }

  .img-section1 img {
    max-width: 340px;
    height: 190px;
  }
  h1 {
    font-size: 25px;
  }
  li {
    font-size: 15px;
  }
  header {
    padding: 20px 0px;
    align-items: baseline;
  }
  .section-principal .textos h2 {
    color: #fcee21;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
  }

  .section-principal .textos span {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    color: #ffff;
  }
  .cards {
    margin-right: 0px;
  }

  .cardnews {
    width: 80%;
  }

  .container-cardnews {
    height: 155px;
  }

  .cardnews-texto h2 {
    font-size: 18px;
    line-height: 20px;
  }

  .cardnews-texto h4 {
    line-height: 14px;
  }
}

@media (max-width: 480px) {
  .cardnews-img {
    width: 118px;
    height: 118px;
    margin-right: 28px;
  }

  .news-img {
    width: 100%;
    height: 100%;
  }

  .input {
    width: 160px;
    height: 20px;
    padding: 10px;
  }

  .submit {
    padding: 2px 18px;
    line-height: 16px;
    font-size: 10px;
  }

  .cardnews-texto h2 {
    color: #fcee21;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 20px;
  }

  .cardnews-texto h4 {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    line-height: 14px;
    color: #dcde9f;
  }
}

@media (max-width: 395px) {
  .cardnews {
    width: 87%;
  }
  .cardnews-texto h2 {
    color: #fcee21;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 16px;
  }

  .cardnews-texto h4 {
    font-size: 8px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    line-height: 10px;
    color: #dcde9f;
  }

  .cardnews-img {
    max-width: 118px;
    max-height: 118px;
    margin-right: 28px;
  }

  .news-img {
    max-width: 20%;
    max-height: 50%;
  }
}
@media (max-width: 325px) {
  .img-section1 img {
    max-width: 312px;
    height: 190px;
  }
}
